<nav class="navbar navbar-expand-md airbnb-navbar sticky-top">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand logo-icon" href="/">
      <i class="fa-solid fa-compass-drafting"></i>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-center">
        <a class="nav-link nav-item-custom" href="/">
          <i class="fa-solid fa-house"></i> Home
        </a>

        <a class="nav-link nav-item-custom" href="/listings">
          <i class="fa-solid fa-list"></i> All Listings
        </a>

        <a class="nav-link nav-item-custom" href="/listings/new">
          <i class="fa-solid fa-plus"></i> Add Listing
        </a>
      </div>
    </div>

    <div class="collapse navbar-collapse ms-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <%if(!currUser){%>

        
        <a class="nav-link nav-item-custom" href="/signup">
          SignUp
        </a>

        <a class="nav-link nav-item-custom" href="/login">
          Login
        </a>
        <%}%>
        <%if(currUser){%>
          <a class="nav-link nav-item-custom" href="/logout">
          logout
        </a>
        <%}%>   
      </div>
    </div>

  </div>
</nav>